<div class="container">

	<%= form_for @data, html: {class: "form-horizontal", style: "padding: 20px"} do |f| %>

	    <div class="form-group">
            <%= f.label :image,"Select Image" %>
            <%= f.file_field :image, class: "form-control" %>
        </div>

	    <div class="form-group" style="margin-top: 10px">
		    <%= f.submit "Submit", class: "btn btn-primary" %>
		    <%= link_to 'Back', "/pictures", class: "btn btn-primary", method: :get, style: "color: white" %>
		</div>
	<% end %>
</div>